In [33]:
import pandas as pd

In [34]:
folder1 = "C:\\IDL_project\\Dataset\\HAM10000_images_part_1"
folder2 = "C:\\IDL_project\\Dataset\\HAM10000_images_part_2"

In [35]:
df = pd.read_csv("C:\\IDL_project\\Dataset\\HAM10000_metadata.csv")
df.head()

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [37]:
df.shape

(10015, 7)

In [38]:
import os
image_paths = []

for image_name in df["image_id"]:
    path1 = os.path.join(folder1, image_name + ".jpg")
    path2 = os.path.join(folder2, image_name + ".jpg")

    if os.path.exists(path1):
        image_paths.append(path1)
    elif os.path.exists(path2):
        image_paths.append(path2)
    else:
        image_paths.append(None)

In [39]:
image_paths[:5]

['C:\\IDL_project\\Dataset\\HAM10000_images_part_1\\ISIC_0027419.jpg',
 'C:\\IDL_project\\Dataset\\HAM10000_images_part_1\\ISIC_0025030.jpg',
 'C:\\IDL_project\\Dataset\\HAM10000_images_part_1\\ISIC_0026769.jpg',
 'C:\\IDL_project\\Dataset\\HAM10000_images_part_1\\ISIC_0025661.jpg',
 'C:\\IDL_project\\Dataset\\HAM10000_images_part_2\\ISIC_0031633.jpg']

In [40]:
df["ImagePath"] = image_paths

In [41]:
df = df[["ImagePath", "dx"]]  # Assuming "dx" is the type column

# Rename for clarity
df.columns = ["ImagePath", "Type"]

In [42]:
df.head()

                                           ImagePath Type
0  C:\IDL_project\Dataset\HAM10000_images_part_1\...  bkl
1  C:\IDL_project\Dataset\HAM10000_images_part_1\...  bkl
2  C:\IDL_project\Dataset\HAM10000_images_part_1\...  bkl
3  C:\IDL_project\Dataset\HAM10000_images_part_1\...  bkl
4  C:\IDL_project\Dataset\HAM10000_images_part_2\...  bkl

In [43]:
df.isna().sum()

ImagePath    0
Type         0
dtype: int64

In [45]:
df.shape

(10015, 2)

In [49]:
df.to_csv("C:\\IDL_project\\Dataset\\final.csv", index=False)

print(f"Dataset saved")

Dataset saved