In [3]:
import pandas as pd

In [ ]:
folder1 = "C:\\IDL_project\\Dataset\\HAM10000_images_part_1\\"
folder2 = "C:\\IDL_project\\Dataset\\HAM10000_images_part_2\\"

In [5]:
df = pd.read_csv("C:\\IDL_project\\Dataset\\HAM10000_metadata.csv")
df.head()

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [6]:
import os
def get_image_path(image_name):
    path1 = os.path.join(folder1, image_name)
    path2 = os.path.join(folder2, image_name)

    if os.path.exists(path1):
        return path1
    elif os.path.exists(path2):
        return path2
    else:
        return None

In [8]:
df["ImagePath"] = df["lesion_id"].apply(get_image_path)

# Drop rows where ImagePath is None (optional)
# df = df.dropna(subset=["ImagePath"])

# Keep only necessary columns
df = df[["ImagePath", "dx"]]  # Assuming "dx" is the type column

# Rename for clarity
df.columns = ["ImagePath", "Type"]

In [9]:
df.head()

  ImagePath Type
0      None  bkl
1      None  bkl
2      None  bkl
3      None  bkl
4      None  bkl